{% extends "client/base.html" %}

{% block title %}New Test{% endblock %}

{% block content %}
<div class="content">
	<form method="POST" action="{% url "prospapp.views.action_new_test" %}"> {% csrf_token %}
		<label for="label">Name:</label>
		<input id="label" name="label" type="text" />
		<label for="image">Image:</label>
		<select id="image" name="image">
		{% for image in images %}
			<option value="{{ image.id }}">{{ image.label }}</option>
		{% endfor %}
		</select>
		<button type="submit">Make</button>
	</form>	
</div>
{% endblock %}
