{% extends "frontend/base.html" %}

{% block title %}This is the title.{% endblock %}

{% block content %}

    <div id="content">
        <div class="hero">
            <a href="{% url "prospapp.views.view_candidate_login" %}">Login as Candidate</a>
            <a href="{% url "prospapp.views.view_client_login" %}">Login as Client</a>
            <hr>
            <h1>Prospop</h1>
            <h3>Recruitment gone UNIX.</h3>
            <hr>
            <a href="{% url "prospapp.views.view_candidate_signup" %}">Find a Job</a>
            <a href="{% url "prospapp.views.view_client_signup" %}">Find a Candidate</a>
            <hr>
            <a href="{% url "prospapp.views.fe_tests"  %}">View Public Tests</a>
        </div>
    </div>

{% endblock %}
